@import '~node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Logofont';
  src: url(../fonts/FilmP3Bold.ttf);
}

@font-face {
  font-family: 'VerdanaBoldItalic';
  src: url(../fonts/verdana-bold-italic.ttf);
}

@font-face {
  font-family: 'VerdanaBold';
  src: url(../fonts/verdana-bold.ttf);
}

@font-face {
  font-family: 'Verdana';
  src: url(../fonts/verdana.ttf);
}



body {
  font-family: var(--primary-fonts);
  color: var(--color-text-primary);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}