:root {
  --color-text-primary: #000000;
  --color-text-secondary: #808080;
  --color-text-accent: #29a3a3;
  --color-text-light: #ffffff;
  --color-text-footer: #e0e4e4;

  --background-color: #fefffe;
  --gradient: linear-gradient(rgba(0, 0, 0, 0.65),
              rgba(0,
                0,
                0,
                0.65));

  --logo-fonts: 'Logofont', sans-serif;
  --primary-fonts:'Roboto', sans-serif;
  --secondary-fonts: 'VerdanaBoldItalic', sans-serif;
  --secondary-bold-fonts: 'VerdanaBold', sans-serif;
}