:root {
  --color-text-primary: #000000;
  --color-text-secondary: #58595b;
  --color-text-accent: #f58f8f;
  --color-text-light: #fbf9f9;

  --background-color: #f9f9d6;
  --gradient: linear-gradient(rgba(0, 0, 0, 0.65),
              rgba(0,
                0,
                0,
                0.65));

  --logo-fonts: 'Logofont', sans-serif;
  --primary-fonts: 'Verdana', sans-serif;
  --secondary-fonts: 'VerdanaBoldItalic', sans-serif;
  --secondary-bold-fonts: 'VerdanaBold', sans-serif;
}
