<section class="adventure ex-over">
  <div class="adventure-container">
  <h1 class="adventure-title">Ваша подорож розпочинається тут
  </h1>
  <p class="adventure-text">Наша місія - з'єднати вас з дивами наших парків, пропонуючи індивідуальні враження для кожного авантюриста.
    Обійміть заклик дикої природи та нехай подорож розкривається.</p>
    <ul class="adventure-list list">
      <li class="adventure-item"> <a class="adventure-link link" href="">+38000000000</a></li>
      <li class="adventure-item"> <a class="adventure-link link" href="">magic_uk@gmail.com</a></li>
    </ul>
</div>
</section>