<section class="entry">
  <div class="container">
    <h2 class="entry-title">Україна, як нерозкритий потенціал для туризму.</h2>
    <p class="entry-text">
      Україна – країна, що багата на туристичні надбання, де ви зможете насолодитися горами, озерами, морями, а також розглянути пам'ятки історії та культури, дослідити чарівні та неповторні міста. Ми впевнені, що ви будете здивовані, коли докладніше познайомитесь з цією країною. Навіть найбільш досвідченого мандрівника завжди можна здивувати. Тому запрошуємо вас відкрити для себе пізнавальний і захопливий світ України разом з нами.
    </p>
    <img
      src="./images/hero.jpeg"
      alt="фото природи"
      width="460"
      height="322"
      class="main-img"
    />
  </div>
</section>
