<section class="entry">
  <div class="container">
    <h2 class="entry-title">Україна, як незвіданий напрямок в туризмі</h2>
    <p class="entry-text">
      Україна – туристично-багата країна, де можна насолодитися горами, озерами,
      морями, пам’ятниками історії та культури, чудовими та неповторними
      містами. Впевнені, що ви будете здивовані, коли ближче з нею
      познайомитися. А будь-якого найдосвідченішого мандрівника завжди можна
      здивувати. Тому запрошуємо вас поринути у пізнавальний та захопливий світ
      України разом з нами.
    </p>
    <img
      src="./images/hero.jpeg"
      alt="фото природи"
      width="460"
      height="322"
      class="main-img"
    />
  </div>
</section>
