<section class="exclusive">
  <h1 class="exclusive-title">Ексклюзивні місця</h1>
  <div class="exclusive-container">
    <img
      src="./images/divochi.jpeg"
      alt="фото природи"
      width="400"
      height="400"
      class="exclusive-img"
    />
    <h2 class="exclusive-undertitle">Водоспад "Дівочі сльози"</h2>
    <p class="exclusive-text"> Згідно з легендами, тепер у цій місцевості живуть русалки. За народними переказами, дехто у минулому здалеку бачив трьох дівчат, що купалися у Дністрі, пізніше красуні вийшли з ріки, підійшли до водоспаду і зникли у ньому. Сучасні туристи також стверджують, що іноді тут насправді трапляється марево, яке нагадує трьох дівчат.</p>
    <img
      src="./images/divochi2.jpeg"
      alt="фото природи"
      width="400"
      height="400"
      class="exclusive-img"
    />
    <h2 class="exclusive-undertitle">Водоспад "Дівочі сльози"</h2>
    <p class="exclusive-text">Згідно з легендами, тепер у цій місцевості живуть русалки. За народними переказами, дехто у минулому здалеку бачив трьох дівчат, що купалися у Дністрі, пізніше красуні вийшли з ріки, підійшли до водоспаду і зникли у ньому. Сучасні туристи також стверджують, що іноді тут насправді трапляється марево, яке нагадує трьох дівчат.</p>
    <img
    src="./images/divochi3.jpeg"
    alt="фото природи"
    width="400"
      height="400"
    class="exclusive-img"
  />
  <h2 class="exclusive-undertitle">Водоспад "Дівочі сльози"</h2>
    <p class="exclusive-text">Згідно з легендами, тепер у цій місцевості живуть русалки. За народними переказами, дехто у минулому здалеку бачив трьох дівчат, що купалися у Дністрі, пізніше красуні вийшли з ріки, підійшли до водоспаду і зникли у ньому. Сучасні туристи також стверджують, що іноді тут насправді трапляється марево, яке нагадує трьох дівчат.</p>
  </div>
</section>