<section class="hero overlay">
  <div class="container">
    <div class="hero-container">
    <!-- <h1 class="hero-title">
      Найвища насолода - це той момент, коли комфорт поєднується з красою.
    </h1> -->
    <h1 class="hero-title">
      Ваша пригода починається тут!
    </h1>
    <h2 class="hero-subtitle">Відкрийте для себе унікальний смак України</h2>
    <p class="hero-subtitle">Відкрий себе в незібраних ландшафтах: з'єднуйся з природою у її найчистішій формі і пробуджуйте свої почуття дива, подорожуючи незвичайними стежками, пушнявими лісами і спокійними озерами.</p>
    <button>Дізнатися більше</button>
  </div>
</div>
</section>
