.button {
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
  padding: 14px 21px;
  min-width: 200px;
  text-align: center;
  border: 2px solid rgb(2, 2, 2);
  background-color: rgb(246, 210, 246);

  margin-top: 20px;
}
