.button {
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
  padding: 14px 21px;
  min-width: 236px;
  text-align: center;
  border: 2px solid white;
  background-color: white;

  margin-top: 20px;
}
