.entry {
  max-width: 100%;
  height: 900px;
}

.e-over{
  background-image: linear-gradient(0deg, rgba(129,126,126,0.7189250700280112) 35%, rgba(5,5,5,0.5144432773109244) 65%), url(../images/ukraine_map.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.entry-container {
display: flex;
}

.entry-title {
  margin-bottom: 12px;
  font-family: var(--secondary-bold-fonts);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.2em;
  color: var(--color-text-secondary);
}

.entry-text {
  margin-bottom: 12px;
  font-family: var(--primary-fonts);
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-text-secondary)
}

.img-container {
  display: flex;
  
}

.main-img {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}