.ex-over{
  outline: 1px solid var(--color-text-primary);
  background-image: var(--gradient), url(../images/magic_uk.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}