.overlay {
  outline: 1px solid var(--color-text-primary);
  background-image: var(--gradient), url(//src/images/hero.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}