.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;

  max-width: 100%;
  height: 900px;
}

.overlay {
  background-image: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(5,5,5,0.7637429971988796) 0%), url(../images/hero.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 700;

  font-size: 16px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;

  color: var(--color-text-light);
  text-transform: uppercase;
  
  margin: auto;
}

.hero-subtitle {
  font-weight: 500;

  font-size: 16px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;

  color: var(--color-text-light);
  text-transform: uppercase;
  
  margin: auto;
  margin-top: 10px;
}

.hero-text {
  font-weight: 300;

  font-size: 16px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;

  color: var(--color-text-light);
  
  margin: auto;
  margin-top: 150px;
}

.hero-btn {
  font-weight: 300;

  font-size: 16px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  
  margin-top: 20px;

}