.hotels {
  max-width: 100%;
  height: 900px;
}

.h-overlay {
  background-image: linear-gradient(0deg, rgba(254,255,254,0.665703781512605) 5%, rgba(133,136,136,1) 36%, rgba(20,20,20,0.7245273109243697) 70%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hotels-title {
  font-weight: 500;

  font-size: 16px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;

  color: var(--color-text-light);
}

.hotels-text {
  font-weight: 400;

  font-size: 14px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;

  color: var(--color-text-light);

  margin-top: 20px;
}
